<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/aop-test.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{100} -%msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/archived/aop-test-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} : [%thread] : %highlight(%-5level) %cyan(%logger{100}) -%msg%n</pattern>
		</encoder>
	</appender>
	
	

	<logger name="com.tgd.server" level="all" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.validation.beanvalidation" level="info" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	  <logger name="org.springframework.boot.devtools" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.beans" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

<!--     <logger name="org.springframework.cloud" level="info" additivity="false"> -->
<!--         <appender-ref ref="FILE-AUDIT" /> -->
<!--         <appender-ref ref="STDOUT" /> -->
<!--     </logger> -->

    <logger name="org.springframework.ui" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="jdk.event.security" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

<!--     <logger name="org.springframework.context" level="info" additivity="false"> -->
<!--         <appender-ref ref="FILE-AUDIT" /> -->
<!--         <appender-ref ref="STDOUT" /> -->
<!--     </logger> -->

    <logger name="jakarta.xml.bind" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.boot.autoconfigure.logging" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>
	

	<logger name="org.springframework" level="DEBUG"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache" level="INFO" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="javax.management" level="INFO" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.hibernate" level="info" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="springfox.documentation" level="INFO"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="_org.springframework" level="DEBUG"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.netflix" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
		<logger name="org.glassfish.jersey" level="INFO"
	additivity="false">
	<appender-ref ref="FILE-AUDIT" />
	<appender-ref ref="STDOUT" />
</logger>

	<root level="all">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>